main, .epi-title {
  max-width: 40rem;
}

.epi-title {
  margin: 1em auto 0.5em auto;
}

form {
  overflow: hidden;
}

button {
  margin-top: 0.5rem;
  float: right;
}

footer {
  min-height: 5em;
}

.lilguy p {
  margin: auto;
}